<div class="flex w-full flex-col flex-nowrap gap-4 p-3 lg:p-5">
  @if (params$ | async; as params) {
    <div class="flex flex-row flex-wrap">
      <app-search
        class="grow"
        [searchableFields]="['name', 'mbArtistId']"
        [search]="params.search"
      ></app-search>
      <app-sort
        [sortableFields]="['name', 'mbArtistId']"
        [sort]="params.sort"
      ></app-sort>
    </div>
  }

  @for (artist of artists$ | async; track artist.id) {
    <app-card>
      <div
        class="sticky top-0 z-10 mb-2 flex flex-wrap items-center justify-between gap-x-4 gap-y-1 border-b border-slate-100 bg-white pb-2"
      >
        <h2 class="text-artist m-0 text-lg font-semibold">
          <a [routerLink]="[artist.id]" class="hover:underline">{{
            artist.name
          }}</a>
        </h2>
        <div
          class="flex flex-wrap items-center gap-x-4 gap-y-1 text-xs text-slate-500"
        >
          <app-album-count [albumCount]="artist.albums?.length" />
          <app-mb-link [mbId]="artist.mbArtistId" mbUrl="artist" />
        </div>
      </div>

      @if (artist.albums && artist.albums.length > 0) {
        <div class="flex flex-col flex-nowrap gap-4">
          @for (album of artist.albums; track album.id) {
            <app-album [album]="album" />
          }
        </div>
      } @else {
        <div class="py-4 text-center text-sm italic text-slate-500">
          No albums available for this artist.
        </div>
      }
    </app-card>
  }

  @if (params$ | async; as params) {
    <app-paginator
      [page]="params.page"
      [size]="params.size"
      [totalElements]="totalElements$ | async"
    />
  }
</div>
