<div fxLayout="column nowrap">
  <ng-container *ngIf="currentSong$ | async; let song">
    <img [src]="currentSongImgUrl$ | async" />
    <app-song [song]="song">
      <app-playlist-remove></app-playlist-remove>
    </app-song>
    <audio
      controls
      [src]="currentSongAudioUrl$ | async"
      [autoplay]="true"
      (ended)="goToNextSong()"
    >
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  </ng-container>
  <ng-container *ngIf="$any(nextSongs$ | async)?.length > 0; else noSongsInPlaylist">
    <app-song *ngFor="let song of nextSongs$ | async" [song]="song">
      <app-playlist-remove></app-playlist-remove>
    </app-song>
  </ng-container>
</div>
<ng-template #noSongsInPlaylist>
  <div>No songs in playlist</div>
</ng-template>
