<div class="flex w-full flex-col flex-nowrap gap-4">
  @if (params$ | async; as params) {
    <div class="flex flex-row flex-wrap">
      <app-search
        class="grow"
        [searchableFields]="['album', 'artist.name', 'genre']"
        [search]="params.search"
      ></app-search>
      <app-sort
        [sortableFields]="['album', 'artist.name', 'year']"
        [sort]="params.sort"
      ></app-sort>
    </div>
  }

  <app-card *ngFor="let album of albums$ | async" class="album">
    <app-album [album]="album" />
  </app-card>

  @if (params$ | async; as params) {
    <app-paginator
      [page]="params.page"
      [size]="params.size"
      [totalElements]="totalElements$ | async"
    />
  }
</div>
