@if (isPlaylistOpen()) {
  <app-player-playlist [nextSongs]="nextSongs()" />
}
<div class="z-10 flex h-20 flex-row flex-nowrap bg-emerald-50 shadow-md">
  <button (click)="togglePlaylist()">OPEN</button>
  @if (currentSong(); as song) {
    <img
      [src]="currentSongImgUrl()"
      alt="Album art"
      class="h-20 w-20 object-contain"
    />
    <div class="flex flex-col flex-nowrap p-2">
      <div>{{ song.title }}</div>
      @if (currentSongAlbum$ | async; as album) {
        <div>
          <small>
            {{ album.albumArtist }} /
            <span class="font-bold">{{ album.album }}</span>
          </small>
        </div>
        <div>
          <small>[{{ album.genres.join(", ") }}]</small>
        </div>
      }
    </div>
    <audio
      (ended)="goToNextSong()"
      [autoplay]="true"
      [src]="currentSongAudioUrl()"
      type="audio/*"
      controls
    >
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  }
</div>
