<div class="flex w-full flex-col flex-nowrap gap-4 p-3 lg:p-5">
  @if (params$ | async; as params) {
    <div class="flex flex-row flex-wrap">
      <app-search
        class="grow"
        [searchableFields]="['name', 'mbArtistId']"
        [search]="params.search"
      ></app-search>
      <app-sort
        [sortableFields]="['name', 'mbArtistId']"
        [sort]="params.sort"
      ></app-sort>
    </div>
  }

  <!--
    TODO
      - MusicBrainz link, with icon if possible
      - Add "total discs" counter
  -->
  @for (artist of artists$ | async; track artist.id) {
    <div class="rounded-lg border border-blue-300 bg-white">
      <div class="sticky top-0 z-10 rounded-lg bg-white p-4">
        <h2
          class="m-0 text-xl text-blue-600 hover:text-blue-400 hover:underline"
        >
          <a href="">{{ artist.name }}</a>
        </h2>
        <div class="text-sm text-gray-600">
          MusicBrainz ID: {{ artist.mbArtistId }}
        </div>
      </div>

      @if (artist.albums && artist.albums.length > 0) {
        <div class="flex flex-col flex-nowrap gap-4 px-4 pb-4">
          <app-card *ngFor="let album of artist.albums" class="album">
            <app-album [album]="album" />
          </app-card>
        </div>
      } @else {
        <div class="italic text-slate-600">
          No albums available for this artist.
        </div>
      }
    </div>
  }

  @if (params$ | async; as params) {
    <app-paginator
      [page]="params.page"
      [size]="params.size"
      [totalElements]="totalElements$ | async"
    />
  }
</div>
