<div class="relative flex flex-col flex-nowrap">
  @for (song of album().songs; track song; let i = $index) {
    <div
      class="flex flex-row flex-nowrap items-center gap-2 rounded-md p-1 hover:bg-slate-50"
    >
      <div class="w-6 text-center text-slate-700">{{ i + 1 }}</div>
      <div class="h-6 w-0.5 bg-slate-200"></div>
      <div class="grow text-slate-700">
        {{ song.title }}
      </div>
      <div class="flex flex-row gap-2">
        <app-playlist-add [song]="song" />
        <app-queue-add [songs]="[song]" />
      </div>
    </div>
  }
</div>
