<div class="relative flex flex-row flex-nowrap gap-2">
  <img
    [src]="album().artPathUrl"
    alt="Album art"
    class="w-full flex-shrink-0 flex-grow-0 basis-24 object-contain"
  />
  <div class="flex flex-shrink flex-grow basis-auto flex-col flex-nowrap">
    <div>
      <span class="text-2xl"> {{ album().albumArtist }} / </span>
      <span class="text-xl font-bold text-gray-800"> {{ album().album }}</span>
    </div>
    <div>
      <span> [{{ album().year }}] </span>
      <span>
        {{ album().genres.join(", ") }}
      </span>
    </div>
  </div>
  <div class="album__controls">
    <ng-content></ng-content>
  </div>
</div>
