<div class="relative flex flex-row flex-nowrap gap-2">
  <img
    [src]="album().artPathUrl"
    alt="Album art"
    class="h-24 w-full flex-shrink-0 flex-grow-0 basis-24 object-contain"
  />
  <div class="flex flex-shrink flex-grow basis-auto flex-col flex-nowrap">
    <div>
      <span class="text-2xl"
        ><a
          [queryParams]="
            getSearchQueryParamsForAlbumArtist(album().albumArtist)
          "
          [routerLink]="['.']"
          queryParamsHandling="merge"
          >{{ album().albumArtist }}</a
        >
        /
      </span>
      <span class="text-xl font-bold text-gray-800"> {{ album().album }}</span>
    </div>
    <div>
      <span> [{{ album().year }}] </span>
    </div>
    <div>
      <span>
        @for (genre of album().genres; track genre; let isLast = $last) {
          <a
            [routerLink]="['.']"
            [queryParams]="getSearchQueryParamsForGenre(genre)"
            queryParamsHandling="merge"
            >{{ genre }}</a
          >
          {{ isLast ? "" : ", " }}
        }
      </span>
    </div>
  </div>
  <div class="flex flex-row-reverse flex-wrap items-end gap-1">
    <ng-content></ng-content>
  </div>
</div>
