<div class="flex flex-col flex-nowrap gap-2">
  <div class="relative flex flex-row flex-nowrap gap-2">
    <img
      [src]="album().artPathUrl"
      alt="Album art"
      class="h-24 w-full flex-shrink-0 flex-grow-0 basis-24 object-contain"
    />
    <div class="flex flex-shrink flex-grow basis-auto flex-col flex-nowrap">
      <div>
        <span class="text-2xl"
          ><a
            [queryParams]="
              getSearchQueryParamsForAlbumArtist(album().albumArtist)
            "
            [routerLink]="['.']"
            queryParamsHandling="merge"
            >{{ album().albumArtist }}</a
          >
          /
        </span>
        <span class="text-xl font-bold text-gray-800">
          {{ album().album }}</span
        >
      </div>
      <div>
        <span> [{{ album().year }}] </span>
      </div>
      <div>
        <span>
          @for (genre of album().genres; track genre; let isLast = $last) {
            <a
              [routerLink]="['.']"
              [queryParams]="getSearchQueryParamsForGenre(genre)"
              queryParamsHandling="merge"
              >{{ genre }}</a
            >{{ isLast ? "" : ", " }}
          }
        </span>
      </div>
    </div>
    <div class="flex flex-col flex-nowrap gap-2">
      <div class="flex flex-row flex-wrap justify-end">
        <button
          (click)="toggleDetails()"
          aria-label="Remove from playlist"
          class="btn rounded-full bg-transparent p-1 font-bold text-blue-500 hover:text-blue-700"
        >
          @if (isDetailsOpen()) {
            <app-icon-chevron-up class="size-8" />
          } @else {
            <app-icon-chevron-down class="size-8" />
          }
        </button>
      </div>
      <div class="flex grow flex-row flex-wrap content-end gap-1">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  @if (isDetailsOpen()) {
    <div class="h-0.5 bg-gray-200"></div>
    <div>
      <app-album-details [album]="album()" />
    </div>
  }
</div>
