/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon {
  &--white {
    color: white;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// The following are fixes for Tailwind's preflight (see https://tailwindcss.com/docs/preflight)
// See here why to use layer base: https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles

@layer base {
  // https://theodorusclarence.com/blog/tailwindcss-best-practice#complex-example
  .h0 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply mt-6 text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply mt-4 text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply mt-2 text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }

  // https://tailwindcss.com/docs/list-style-type
  // https://runebook.dev/en/articles/tailwindcss/list-style-type
  ul {
    // I'm disabling this because I use <ul> in my sidebar. Add it back if/when needed
    //@apply ml-4 list-inside list-disc;
  }

  ol {
    @apply ml-4 list-inside list-decimal;
  }

  p {
    @apply my-2;
  }
}

@layer utilities {
  .text-playlist {
    @apply text-red-600 hover:text-red-400;
  }
  .text-playlist--no-hover {
    @apply text-red-600;
  }

  .text-artist {
    @apply text-blue-600 hover:text-blue-400;
  }
  .text-artist--no-hover {
    @apply text-blue-600;
  }

  .text-album {
    @apply text-emerald-700 hover:text-emerald-500;
  }
  .text-album--no-hover {
    @apply text-emerald-700;
  }

  .text-genre {
    @apply text-amber-700 hover:text-amber-400;
  }
  .text-genre--no-hover {
    @apply text-amber-700;
  }

  .text-neutral {
    @apply text-slate-600 hover:text-slate-400;
  }
  .text-neutral--no-hover {
    @apply text-slate-600;
  }
}
