<div fxLayout="column nowrap" [ngStyle]="{ 'max-height': '100vh' }">
  <mat-toolbar color="primary" fxFlex="0 0">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div fxFlex="1 1" fxLayout="row nowrap" class="page-container">
    <div fxFlex="1 0" style="overflow-y: auto">
      <app-albums></app-albums>
    </div>
    <div fxFlex="0 0 250px">
      <app-player></app-player>
    </div>
  </div>
</div>
