<div class="flex flex-col flex-nowrap gap-3">
  <div class="relative flex flex-row flex-nowrap gap-4">
    <img
      [src]="album().artPathUrl"
      alt="Album art"
      class="h-20 w-full flex-shrink-0 flex-grow-0 basis-20 rounded-md object-cover shadow-md"
      loading="lazy"
    />
    <div
      class="flex flex-shrink flex-grow basis-auto flex-col flex-nowrap justify-between gap-2"
    >
      <div class="flex flex-row flex-wrap items-center gap-2">
        @if (album().artist) {
          <a
            [routerLink]="['/artists', album().artist?.id]"
            class="text-xl text-blue-600 hover:text-blue-400 hover:underline"
            queryParamsHandling="merge"
            >{{ album().artist?.name }}</a
          >
          <a
            [queryParams]="getSearchQueryParamsForAlbumArtist(album().artist)"
            [routerLink]="['.']"
            class="text-xl text-blue-600 hover:text-blue-400 hover:underline"
            queryParamsHandling="merge"
            ><app-icon-filter class="size-4"
          /></a>
          <span class="text-xl">/</span>
        }
        <a
          [routerLink]="['.']"
          class="text-xl text-emerald-700 hover:text-emerald-500 hover:underline"
        >
          {{ album().album }}</a
        >
      </div>
      <div class="flex flex-row flex-wrap items-center gap-2">
        <a
          [queryParams]="getSearchQueryParamsForYear(album().year)"
          [routerLink]="['.']"
          class="rounded-md border-[1px] border-slate-700 bg-slate-50 px-2 py-0.5 text-sm text-slate-700 hover:border-slate-500 hover:text-slate-500 hover:underline"
          >{{ album().year }}</a
        >
        @for (genre of album().genres; track genre; let isLast = $last) {
          <a
            [routerLink]="['.']"
            [queryParams]="getSearchQueryParamsForGenre(genre)"
            queryParamsHandling="merge"
            class="rounded-md border-[1px] border-amber-700 bg-amber-50 px-2 py-0.5 text-sm text-amber-700 hover:border-amber-500 hover:text-amber-500 hover:underline"
            >{{ genre.name }}</a
          >{{ isLast ? "" : " " }}
        }
      </div>
    </div>
    <div class="flex flex-col flex-nowrap gap-2">
      <div class="flex grow flex-row flex-wrap justify-end gap-2">
        <app-player-playlist-replace [songs]="album().songs" />
        <app-player-playlist-add [songs]="album().songs" />
      </div>
      <div class="flex flex-row flex-wrap justify-end">
        <button
          (click)="toggleDetails()"
          aria-label="Toggle album details"
          class="btn rounded-full p-1 font-bold text-slate-600 hover:text-slate-400"
          title="Toggle album details"
        >
          @if (isDetailsOpen()) {
            <app-icon-chevron-up class="size-6" />
          } @else {
            <app-icon-chevron-down class="size-6" />
          }
        </button>
      </div>
    </div>
  </div>
  @if (isDetailsOpen()) {
    <app-album-details [album]="album()" />
  }
</div>
